@import 'tailwindcss';
@tailwind utilities;
@import 'leaflet/dist/leaflet.css';

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*  Pulsing Dot CSS for Leaflet Markers */

.leaflet-red-dot {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: rgba(239, 68, 68, 0.75); /* red-500 */
  width: 20px;
  height: 20px;
}

.leaflet-yellow-dot {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: rgba(248, 199, 0, 0.955); /* yellow-500 */
  width: 20px;
  height: 20px;
}
.leaflet-green-dot {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: rgb(89, 204, 100); /* green-500 */
  width: 20px;
  height: 20px;
}

.leaflet-pulsing-dot {
  position: relative;
  width: 20px;
  height: 20px;
}

.leaflet-pulsing-dot .ping {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: rgba(239, 68, 68, 0.75); /* red-500 */
  animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.leaflet-pulsing-dot .dot {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  background-color: #dc2626; /* red-600 */
}

/* keyframes for the pulse */
@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 0.75;
  }
  75% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* Leaflet Popup Customization */
.leaflet-popup-content-wrapper {
  background-color: #ffffff !important;
  color: #000000 !important;
  padding: 0.5rem !important;
  border-radius: 0 !important; /* remove rounding */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important; /* shadow-lg */
  width: 350px !important;
  height: 360px !important;
}

.leaflet-popup-tip {
  display: none !important;
}

.leaflet-popup-content {
  font-size: 0.875rem !important; /* Tailwind text-sm */
  margin: 0 !important;
  height: 100% !important;
  overflow: hidden !important;
}
.leaflet-popup-content p {
  margin: 0 !important;
}

.leaflet-marker-icon:focus {
  outline: none !important; /* removes the blue ring */
  box-shadow: none !important; /* some browsers add this */
}

/* Custom Leaflet Zoom Control Styles */
/* Container */
.leaflet-control-zoom {
  background: rgba(255, 255, 255, 0.8) !important;
  border-radius: 0 !important; /* remove rounding */
  border-color: #000000 !important; /* black border */
  border-width: 0.5px !important;
  width: 34px !important;
  margin-right: 16px !important;
  margin-top: 74px !important;
}

/* Buttons */
.leaflet-control-zoom a {
  width: 100% !important;
  background: white !important;
  margin: 0 !important;
  border-radius: 0 !important;
  height: 34px !important;
}

.leaflet-control-zoom a:hover {
  background: #e5e7eb !important; /* gray-100 */
}

.leaflet-control-zoom-in {
  border-bottom: 1px solid #000000 !important; /* black border between buttons */
}

.dashboard-grid {
  grid-template-columns: var(--grid-cols);
  transition: grid-template-columns 0.3s ease-in-out;
}
